* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;


}

html, body {
    min-height: 100vh;
}



header {
    background-color: #ffff;
    display: flex;
    margin-left: 100px;
    
    padding: 20px;





}

.nome-igreja>h2 {
    font-family: 'Cinzel', serif;
    font-size: 35px;
    color: rgb(242, 105, 7);
    text-shadow: 1.5px 1.5px 1.5px rgba(217, 40, 5, 0.77);
    margin-right: 60px;
    text-align: center;

}

header>nav {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 70px;
    margin-left: 90px;
    margin-right: 200px;


}




.nav-link {

    text-decoration: none;
    margin-right: 30px;
    color: black;
    align-items: center;
    transition: .3s ease;
    cursor: pointer;
   
}

.nav-link:hover {
    
background-color: rgb(238, 160, 132);
font-size: 20px;
transition-delay: 0.3s;




}

.bnt-radio > a {
    background-color: rgb(242, 105, 7);
    padding: 20px;
    
    width: 250px;

    border-radius: 20px;
    
    font-size: 18px;
    color: black;
    
    border: none;
    cursor: pointer;
    transition: all 0.2ms ease-in-out;
    text-decoration: none;




}
.bnt-radio{
    padding-top: 40px;
}

.bnt-1:hover {

    background-color:#ffff;
    color:black;
    border: 2px solid black;
    transition-delay: 0.3s;
font-size: 20px;
}

.bnt-1::before {

    content: url(Imagens/icon-play.png);
    position: relative;
    top: 5px;
    right: 5px;
    


}


main {
    background-image: url(Imagens/adoradores.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    box-shadow: 6px 6px 13px 0px black;
    padding: 5%;
    
}

main>h2 {
    font-size: 40px;
    padding: 50px;
    color: white;
    text-align: center;
    font-family: 'Cinzel', serif;


}

main>p {
    font-size: 30px;
    padding: 100px;
    color: white;
    font-family: 'Cinzel', serif;

}

.somos {

    padding: 5vw;
    background-color: #ffff;
    margin: auto;
    width: 50%;
    box-shadow: 0px 3px 10px 10px black;
    
}

.somos>h2 {

    text-align: center;

    font-family: 'Cinzel', serif;
    font-size: 40px;
    






}


.h2-somos {
    border-bottom: 2px solid rgb(242, 106, 8);
    margin-top: 15px;
    font-size: large;

}

.somos>p {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 50px;
}

#div-video {

    width: 100%;
    background-color: rgba(0, 0, 0, 0.145);
    z-index: auto;
}

.videos {
    background-image: url(Imagens/musica.jpg);
    padding: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 6px 13px 0px black;


}

iframe {
    margin-left: 6%;
    margin-right: 25px;
    margin-bottom: 3%;
}

.videos>h2 {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Cinzel', serif;

}

.meio-online {
    display: flex;
    margin-bottom: 8%;



}

section>img {

    width: 60%;
    margin-left: 35%;
    margin-top: 12%;



}


.biblia-online {

    text-align: center;

    margin-top: 30px;
    margin-right: 100px;


}

.biblia-online>h2 {

    font-size: 40px;


    margin-top: 10%;
   




}

.h2-online {
    margin-top: 20px;
    border-bottom: 2px solid rgb(242, 106, 8);
}

.biblia-online>p {
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;

}

.biblia-online>a {
    padding: 20px;
    background-color: rgb(242, 106, 8);
    border-radius: 5px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition: all 0.1ms ease-in-out;
    outline: none;
    cursor: pointer;
    


}

.biblia-online>a:hover {
    background-color: #ffff;
    color: black;
    box-shadow: 1px 1px 1px;


}

.biblia-online>a::before {
    content: url(Imagens/icon-biblie.png);
    position: relative;
    top: 5px;
    right: 5px;

}
.form-h2{
    border: 1px solid black;
    margin-bottom: 5%;
    background-color: rgba(242, 105, 8, 0.676);
}
.form-h2 > h2{
    color:black;
 text-align: center;
   
    font-size: 30px;
    font-family: 'Cinzel', serif;
    padding: 40px;
  
   
}
.form{
    padding: 20px;
    display: flex;
    
    
    
    
    
}

.input{
    
    background-color: rgba(242, 105, 8, 0.676);
    box-shadow: 6px 6px 13px 0px black;
    width: 454px;
    height: 500px;
    margin-left: 90px;
    
}
.input >h3{
    color:black;
   text-align: center;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    padding: 20px;
    margin-bottom: 20px;
    
}
input,textarea{
    padding-left: 10px;
    min-width: 300px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 20px;
}
.select-options{

    padding-left: 10px;
    min-width: 300px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 20px;
}
.fale-form{
    margin-left: 20%;
    padding: 50px;
    margin-top: 50px;
}
.fale-form > h2{
    color:black;
    text-align: center;
     font-size: 30px;
     font-family: 'Cinzel', serif;
     padding: 20px;
     margin-bottom: 20px;

}
.fale-form > p{
    font-size: 20px;
    justify-content: center;

}
.fale-form > ul,li{

 font-size: 20px;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.rodape{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
    
}
.footer-endereço{
    
   padding: 25px;
   text-align: center;
}
.footer-endereço > h3 {
    
    font-size: 25px;
    
}
.footer-contato{
    padding: 25px;
    text-align: center;
    
}

.footer-contato > h3{

    
    font-size: 25px;

}
.footer-redes{
    padding: 25px;
    text-align: center;

}
.footer-redes >h3{
    
    font-size: 25px;
}
.footer-redes img {
    width: 50px;
    cursor: pointer;
}